<main class="main-container">
  <section class="left-section">
    <img [src]="logoImage" alt="logo">
    <ul>
      <li><a class="links" href="#">Collections</a></li>
      <li><a class="links" href="#">Men</a></li>
      <li><a class="links" href="#">Women</a></li>
      <li><a class="links" href="#">About</a></li>
      <li><a class="links" href="#">Contract</a></li>
    </ul>
  </section>
  <section class="right-section">
    <app-cart></app-cart>
    <img class="profileImage" [src]="profileImage" alt="profileImage">
  </section>
</main>
