<main class="main-body">
  <app-nav></app-nav>
  <section class="second-container">
    <main class="left-side">
      <img class="main-image" [src]="service.activeImage" alt="boot-image">
      <div>

        <img (click)="service.setActive($event)" [id]="i" class="mini-images"
             *ngFor="let image of service.imageArr; index as i" [src]="image"
             alt="just-images">
      </div>


    </main>
    <main class="right-side">
        <p class="right-side-mini-title">Sneaker company</p>
      <h1 class="right-side-title">{{service.productInfo.title}}</h1>
      <p>{{service.productInfo.description}}</p>
      <div class="price-container">
        <h1>{{service.productInfo.price |currency}}</h1>
        <div><p>{{service.productInfo.sale}}</p></div>
      </div>
      <p class="price-behore-sale">{{service.priceBeforeSale | currency}} </p>
      <section class="align-right">
        <div class="btn-container">
          <button (click)="service.subtract()" class="btn-count">-</button>
          <p class="btn-count-grey">{{service.counter}}</p>
          <button (click)="service.add()" class="btn-count">+</button>
        </div>
          <button class="btn-add-to-cart">
            <img [src]="cartIcone" alt="cart-icon">
            Add to cart</button>
      </section>
    </main>

  </section>
</main>

